{% extends 'admin.html' %}

{% block content %}
<form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    <h1></h1>
     <div class="input-field">
        <label for="title">Title: </label>
        <input id="title" type="text" name="title" value="{{ form.title.title }}" >
     </div>
        <div class="input-field">
        <label for="avatar">Avatar: </label>
            {% if form.image.url %}
            <p>Current: <img src="{{ form.image.url }}" alt="{{ form.title.title }}" height="150" width="150"></p>
            {% endif %}
        <input id="avatar" type="file" name="avatar" value="{{ form.image.url }}">
    </div>
    <div class="input-field">
     <label for="description">Description: </label>
    <input id="description" type="text" name="description" value="{{ form.description.title }}">
    </div>
    <div class="input-field">
        <label for="link">Link: </label>
        <input id="link" type="file" name="link" value="{{ form.link.title }}">
    </div>
    <div class="input-field">
        <label for="type">Type: </label>
{{ form.type }}
{#             <select name="type" >#}
{#                 #}
{#                 <option value="">{{ form.type }}</option>#}
{##}
{#                <option value="vd">Video</option>#}
{#                <option value="Ebook">Ebook</option>#}
{#                <option value="Audio">Audio</option>#}
{#             </select>#}
    </div>

    <input type="submit" value="Create" class="button" >
</form>
{% endblock %}