<div class="profile">
    <div class="profile__dropdown">
<img src="{{ profile.avatar.url }}" alt="" id="img--profile" class="profile__img profile__dropdown ">
    <div class="profile__dropdown__list">
        <div class="profile__list__item">
            <a href="/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>My Profile</span>
                    </a>
        </div>
        <div class="profile__list__item">
            <a href="/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span></span>
                    </a>
        </div>
        <div class="profile__list__item">
            <a href="/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Log Out</span>
                    </a>
        </div>
    </div>
        </div>
</div>