.login{

     &__box{
          background: rgba( 0, 0, 0, 0.85 );
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( 2.0px );
          -webkit-backdrop-filter: blur( 2.0px );
          border-radius: 10px;
          border: 1px solid rgba( 255, 255, 255, 0.18 );
          width: 450px;
          position: absolute;
          top: 50%;
          left: 50%;
          padding: 60px;
          transform: translate(-50%,-50%);
          color: $white;
     }
     &__title{
          float: left;
          font-size: 40px;
          border-bottom: 6px solid $limeGreen;
          margin-bottom: 50px ;
          padding: 13px 0;
          color: $white;
     }
     .textbox{
          width: 100%;
          overflow: hidden;
          font-size: 20px;
          padding: 8px 0;
          margin: 8px 0;
          border-bottom:  1px solid $limeGreen;
          i {
               width: 26px;
               float: left;
               text-align: center;
               padding-right:20px ;
          }
          input {
               border: none;
               outline: none;
               background: none;
               color:$white;
               width: 85%;
          }
          ::placeholder{
                    color: $lightGrayishBlue;
                    opacity: 1;
               background: none;
          }
     }
     &__button{
          width: 100%;
          background: none;
          border: $limeGreen solid 2px;
          padding: 12px;
          font-size: 15px;
          cursor: pointer;
          margin: 10px;
          &:hover{
               background: linear-gradient(to right, $limeGreen, $brightCyan) ;
          }
     }
     &__sub{
          margin-bottom: 0px ;
     }
}