
    {% load render_partial %}
 <header class="header">
    <div class="overlay has-fade"></div>
    <nav class="container flex flex-jc-sb flex-ai-c">
      <a href="/" class="header__logo">
{#        <img src="images/logo.svg" alt="Easybank" />#}
      </a>
      <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
        <span></span>
        <span></span>
        <span></span>
      </a>
      <div class="header__links hide-for-mobile">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Blog</a>
        <a href="#">Careers</a>
      </div>
        {%   if user.is_authenticated == False %}
      <a href="/login" class="button header__cta hide-for-mobile">Login</a>
        {% else %}
              {% render_partial 'my_profile' %}
        {% endif %}
    </nav>
    <div class="header__menu has-fade">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Blog</a>
      <a href="#">Careers</a>
    </div>
  </header>