<section class="search">
          <div class="search__group">
    <div class="search__bar">
        <input class="search__txt" type="text" name="" placeholder="Type to search">
        <a href="" class="search__btn"></a>
        <i class="fas fa-search"></i>
    </div>
    </div>
{#        <div class="  search__group">#}
{#    <a class="search__button">Javascript</a>#}
{#    <a class="search__button">Javascript</a>#}
{#    <a class="search__button">Javascript</a>#}
{#    <a class="search__button">Javascript</a>#}
{#</div>#}
</section>