{% extends 'index.html' %}

{% block content %}
  <section class="articles">

  <div class="article__content container container--pall">

    <h2>Latest Articles</h2>

    <div class="article__grid">
{% if document %}
 {% for item in document %}
         <a href="#" class="article__item">
        <div class="article__image" style="background-image: url('{{ item.image.url }}')"></div>
        <div class="article__text">
          <div class="article__author">By Claire Robinson</div>
          <div class="article__title">{{item.title}}</div>
          <div class="article__description">{{item.description}}</div>
            <a href="/detailpage/{{ item.id }}" class="button hero__cta">Đọc sách</a>
        </div>
      </a>

{% endfor %}
    {% else %}
        <a href="" style="width: 500px">Hiện tại chủ đề này chưa có tài liệu</a>
    {% endif %}
    </div>
  </div>
  </section>

{% endblock %}